.ha-modal-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(218, 212, 212, 0.5);
}

.ha-modal-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 1rem;
  z-index: 99;
}
.ha-address-bottom-btns {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-cancel {
  width: 50%;
  margin: 0;
}
.btn-save {
  width: 50%;
}

.ha-shipping-modal-wrapper {
  position: fixed;
  left: 0;
  top: 13%;
  right: 0;
  bottom: 0;
  background-color: rgba(218, 212, 212, 0.5);
  overflow: scroll;
}
.address-and-closebtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: auto;
  text-align: left;
}
.shipping-modal-close {
  font-size: 1.2rem;
  margin: 0.2rem 0.2rem 0 0;
  color: var(--ha-primary-color);
  cursor: pointer;
}

.address-close {
  display: flex;
}
.address-close i {
  margin-left: auto;
}
.card-for-modal {
  margin: 0;
  border: none;
}

.address-and-radio {
  display: flex;
}

.shipping-radio {
  display: flex;
}

.address-radio {
  margin: 0.5rem;
  width: 1.2rem;
  height: 1.2rem;
  cursor: pointer;
}
.address-display {
  display: flex;
  flex-wrap: wrap;
}
.address-and-btn-wrapper {
  background-color: white;
  margin-top: 1rem;
}
.blank-address-popup {
  color: var(--ha-primary-color);
  font-weight: bold;
  padding: 0.5rem;
  margin: 1rem;
  text-align: center;
}

/* confirmation modal */
.ha-confirmation-modal-position {
  position: "fixed";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(218, 212, 212, 0.5);
}
.ha-confirmation-modal-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 50px;
  z-index: 99;
}
.btn-primary-cancel {
  background-color: var(--ha-primary-color);
}
.outline-primary-confirm {
  background-color: white;
  color: var(--ha-primary-color);
  border-color: var(--ha-primary-color);
  border: 1px solid var(--ha-primary-color);
}

.outline-primary-confirm:hover {
  background-color: var(--ha-primary-color);
  color: white;
}
.gotoaddress {
  text-align: center;
}
.btn-gotoaddress {
  background-color: var(--ha-primary-color);
  cursor: pointer;
}
