body {
  padding: 0;
  margin: 0;
}
.ha-prod-content > * {
  padding: 0;
}

.ha-prod-content {
  display: flex;
}

.ha-header {
  padding: 0.5rem;
  background-color: var(--ha-light-background-color);
  box-shadow: 0 0.375rem 0.375rem -0.25rem var(--ha-primary-color);
}

/* Aside */

.ha-aside > * {
  margin: 1.3rem;
}
.ha-aside {
  margin-top: 1rem;
  background-color: var(--ha-light-background-color);
}

.ha-aside-smallscreen > * {
  margin: 1.3rem;
}
.ha-aside-smallscreen {
  background-color: var(--ha-light-background-color);
}
.ha-aside-smallscreen {
  display: none;
}
.aside-top-heading {
  line-height: 0;
  display: flex;
  justify-content: space-between;
}
.ha-clear-filter {
  cursor: pointer;
}
.ha-clear-filter:hover {
  color: var(--ha-primary-color);
}
.ha-rating-parent div,
.ha-sorting-parent div {
  margin-top: 0.7rem;
}
.label-container {
  display: flex;
  gap: 2rem;
}
.slider-container,
.slider-container input {
  width: 85%;
}

/* Main */
.burger-menu {
  display: none;
  color: var(--ha-primary-color);
  font-size: 2rem;
  padding: 0.5rem 0 0.5rem 0.5rem;
  cursor: pointer;
}
.h-main-heading {
  text-align: center;
  padding: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
}

.ha-grid-main {
  padding: 0 4rem 0 4rem;
  display: grid;
  gap: 3rem;
  grid-template-columns: repeat(3, 1fr);
}

.h-grid-product {
  position: relative;
  width: 15.625rem;
  justify-content: center;
  align-items: center;
  background-color: var(--ha-white-colr);
}
.product-name {
  color: var(--ha-primary-color);
  font-weight: bold;
  font-size: 1.4rem;
  margin: 0;
}
.product-desc {
  font-size: 0.9rem;
  margin-bottom: 0.2rem;
}
.h-product-bottom small {
  color: var(--ha-price-color);
  font-weight: bold;
}

.h-product-icon i {
  position: absolute;
  font-size: 1rem;
  top: 0.2rem;
  right: 0.2rem;
  color: var(--ha-icon-colr);
  background-color: var(--ha-white-color);
  padding: 0.5rem;
  border-radius: 50%;
  cursor: pointer;
}
.wish-listed i {
  color: var(--ha-primary-color);
}
.h-product-icon-red i {
  color: var(--ha-primary-color);
}

.h-grid-product img {
  width: 100%;
}

.h-product-bottom {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.h-product-button {
  width: 100%;
  padding: 0.5rem 0 0.5rem 0;
  font-size: 1rem;
  border: none;
  background-color: var(--ha-primary-color);
  color: var(--ha-white-color);
  margin-top: 0.5rem;
  cursor: pointer;
}

.ha-header-responsive {
  display: none;
}
.ha-product-heading-responsive {
  color: var(--ha-primary-color);
  font-size: 1.5rem;
}
/* Media Queries */

@media only screen and (max-width: 800px) {
  .h-main-heading {
    font-size: 1rem;
    font-weight: bold;
  }

  .ha-grid-main {
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
  }

  .ha-header-responsive {
    display: block;
  }
  .ha-header {
    display: none;
  }
  .burger-menu {
    display: inline;
  }

  .ha-aside {
    position: absolute;
    left: 0;
    top: 100px;
    z-index: 1;
    opacity: 0.9;
    display: none;
  }
  .ha-aside-smallscreen {
    width: 350px;
    display: inline;
    position: absolute;
    left: 0;
    top: 190px;
    z-index: 1;
    opacity: 0.9;
  }
  main {
    margin: 0 auto;
  }
  .ha-product-heading-responsive {
    font-size: 1.2rem;
  }
}
