.ha-error-page {
  padding-top: 1rem;
  text-align: center;
}
.ha-error-page img {
  width: 600px;
}
.ha-error-msg {
  text-align: center;
}
.main-heading {
  padding-top: 1rem;
  padding-left: 1rem;
  font-weight: bold;
  font-size: 1.5rem;
}
.main-heading span {
  color: var(--ha-primary-color);
}
.link-style {
  text-decoration: none;
}
.main-heading {
  color: var(--ha-standard-text-color);
}
@media only screen and (max-width: 800px) {
  .ha-error-page img {
    max-width: 300px;
  }

  .main-heading {
    padding: 1rem;
    font-weight: bold;
    font-size: 1.5rem;
  }
}
