.ha-wish-content > * {
  padding: 0.625rem;
  text-align: center;
}

.ha-wish-gtr {
  margin-top: 1rem;

  background-color: var(--ha-light-background-color);
}

.ha-main-wishlist-product {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 6rem;
}

.wishlist-heading {
  text-align: center;
  font-style: italic;
  color: var(--ha-primary-color);
  font-weight: bold;
}
