/* @import url(https://h-a-clothing.netlify.app/style.css); */
:root {
  --ha-primary-color: #c91212;
  --ha-secondary-color: #db0000;
  --ha-light-background-color: #faeded;
  --ha-white-color: #ffffff;
  --ha-icon-colr: #9b9797;
  --ha-login-btn-color: #00bfff;
  --ha-login-btn-hover-color: #059fd3e8;
  --ha-gray-color: #808080;
  --ha-price-color: #008600;
  --ha-standard-text-color: #000000;
}

@import url(/src/pages/home-page/HomePage.css);
@import url(/src/pages/cart-page/CartPage.css);
@import url(/src/pages/login-page/LoginPage.css);
@import url(/src/pages/products-page/ProductPage.css);
@import url(/src/pages/signup-page/SignupPage.css);
@import url(/src/pages/wishlist-page/WishList.css);
@import url(/src/pages/account-page/AccountPage.css);
@import url(/src/pages/page-not-found/PageNotFound.css);
